.form {
  margin-top: 20px;
  width: 100%;
}

.form label {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 20px;
}

.form label *,
.form label {
  display: block;
  width: 100%;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 0.8rem;
  outline: none;
  margin-top: 5px;
  font-weight: 300;
}

.input:focus {
  border-bottom: 2px solid black;
}

.form button {
  margin-top: 20px;
  background-color: black;
  border: none;
  color: white;
  width: 100%;
  font-size: 0.75rem;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.form button:hover {
  background-color: #fff;
  color: black;
}

.input.error {
  border-bottom: 2px solid rgb(255, 25, 25) !important;
}
