.headerContainer {
  position: relative;
  color: white;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -100;
}

.headerContainer a {
  color: white;
}

.title {
  font-size: 3rem;
  padding: 3rem 5rem;
  width: 600px;
}

.title *:not(h2) {
  margin-top: 20px;
}

.title p {
  font-size: 1.5rem;
}

.icons {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
}

.icons li {
  margin-right: 50px;
  transition: color 0.2s ease-out;
}

.icons li:hover {
  color: rgb(167, 167, 167);
  cursor: pointer;
}

/* blogs container */

.blogsContainer {
  width: 90vw;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: -3rem;
  z-index: 100;
  background-color: #fff;
  font-size: 1.5rem;
}

.blogsContainer header ul {
  list-style: none;
  display: flex;
}

.blogsContainer header ul li {
  margin-right: 50px;
  cursor: pointer;
}

.blogsContainer header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogsContainer header button {
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid black;
}

.blogsContainer header button:hover {
  cursor: pointer;
}

.blogsContainer header button:active {
  background: rgb(196, 196, 196);
}
